<!DOCTYPE html>
<html ng-app="todo">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>Todo</title>
<link rel="stylesheet" href="<% request.uri_base %>/static/bower_components/angular-ui/build/angular-ui.min.css" />
<link rel="stylesheet" href="<% request.uri_base %>/static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="<% request.uri_base %>/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
<style type="text/css">
  noscript .alert-block {
    margin-top: 0.1em;
  }
  .glyphicon-new-window {
    font-size: 0.8em;
    margin-left: 0.5em;
  }
  form .form-group {
    margin-left: 0;
    padding-left: 0;
  }
  .strikethrough {
    color: #999;
    text-decoration: line-through;
  }
  .tooltip-inner {
    text-align: left;
  }
  .tooltip-inner ul {
    padding-left: 2em;
    padding-top: 0.5em;
  }
  .user-menu {
    margin-top: 2em;
    margin-right: 6em;
  }
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }
</style>
</head>
<body>
  <a href="https://github.com/amarnus/todo"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
  <div class="container">
    <% content %>
  </div>
<script src="<% request.uri_base %>/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="<% request.uri_base %>/static/bower_components/underscore/underscore.js"></script>
<script src="<% request.uri_base %>/static/bower_components/angular/angular.min.js"></script>
<script src="<% request.uri_base %>/static/bower_components/angular-underscore/angular-underscore.min.js"></script>
<script src="<% request.uri_base %>/static/bower_components/angular-ui/build/angular-ui-ieshiv.min.js"></script>
<script src="<% request.uri_base %>/static/bower_components/angular-ui/build/angular-ui.min.js"></script>
<script src="<% request.uri_base %>/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="<% request.uri_base %>/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="<% request.uri_base %>/static/bower_components/angular-route/angular-route.min.js"></script>
<script src="https://login.persona.org/include.js"></script>
<script>
  angular.module('todo', ['angular-underscore', 'ui.bootstrap', 'ngRoute'])
    .controller('TodoController', ['$scope', '$http', '$location', function($scope, $http, $location) {

      $scope.init = function() {
        $scope.todo = {
          description: ''
        };
        $scope.todos = [];
        $scope.flushCache = {
          getTodos: true,
          getCompletedTodos: true
        };
        $scope.fetchTodos();
        var user = $('.main').attr('data-user-email');
        user = (user.length > 0) ? user : null;
        navigator.id.watch({
          loggedInUser: user,
          onlogin: $scope.onUserLogin,
          onlogout: $scope.onUserLogout
        });
      };

      $scope.onUserLogin = function(personaKey) {
        $http.post('/api/persona/login', { persona_key: personaKey })
          .success(function() {
            location.reload();
          })
          .error(function() {
            jQuery('.btn-login').button('reset');
            navigator.id.logout();
          });
      };

      $scope.onUserLogout = function() {
        console.log('The user has logged out of Persona..');
      };

      $scope.userLogin = function() {
        jQuery('.btn-login').button('loading');
        if (navigator.id) {
          navigator.id.request();
        }
      };

      $scope.userLogout = function() {
        navigator.id.logout();
        console.log('Redirecting user to the logout page..');
        window.location.href = '/user/logout';
      };

      $scope.fetchTodos = function() {
        $http.get('/api/todos')
          .success(function(todos) {
            $scope.todos = todos;
            $scope.flushCache.getTodos = true;
            $scope.flushCache.getCompletedTodos = true;
          });
      };

      $scope.saveTodo = function(todo) {
        $http.post('/api/todos', { todo: todo })
          .success(function(todoStub) {
            todo._id = todoStub._id;
            if (console) { console.log('Successfully saved a todo to the backend.'); }
          });
      };

      $scope.getTodos = function() {
        if (!this.allTodos) {
          this.allTodos = [];
        }
        if ($scope.flushCache.getTodos) {
          console.log('getTodos(): Cache MISS');
          this.allTodos = _.reject($scope.todos, {
            archived: 1
          });
          $scope.flushCache.getTodos = false;
        }
        else {
          console.log('getTodos(): Cache HIT');
        }
        return this.allTodos;
      };

      $scope.getCompletedTodos = function() {
        if (!this.completedTodos) {
          this.completedTodos = [];
        }
        if ($scope.flushCache.getCompletedTodos) {
          console.log('getCompletedTodos(): Cache MISS');
          this.completedTodos = _.filter($scope.todos, {
            status: 0,
            archived: 0
          });
          $scope.flushCache.getCompletedTodos = false;
        }
        else {
          console.log('getCompletedTodos(): Cache HIT');
        }
        return this.completedTodos;
      };

      $scope.updateTodo = function(todo, opts) {
        _.each(_.keys(opts), function(prop) {
          todo[prop] = opts[prop];
        });
        var todoId = todo._id.$oid;
        $http.put('/api/todo/' + todoId, { todo: todo })
          .success(function() {
            // @TODO Do something here.
          });
        // Flush client cache
        $scope.flushCache.getTodos =
        $scope.flushCache.getCompletedTodos = true;
      };

      $scope.addTodo = function() {
        var description = $scope.todo.description;
        description = description.replace(/\s+/, ' ').trim();
        if (description.length) {
          var todo = {
            description: $scope.todo.description,
            status: 0,
            archived: 0
          };
          // Save locally
          $scope.todos.push(todo);
          // Persist to the backend
          $scope.saveTodo(todo);
          // Flush client cache
          $scope.flushCache.getTodos =
          $scope.flushCache.getCompletedTodos = true;
        }
        $scope.todo.description = '';
      };

      $scope.init();

    }]);
</script>
<noscript>
  <div class="alert alert-block alert-warning">
    You either don't have Javascript enabled or are on a browser that does not
    run Javascript. <a href="http://enable-javascript.com/" rel="external" target="_blank">
      <span class="glyphicon glyphicon-new-window"></span> Learn more</a>
  </div>
</noscript>
</body>
</html>
